/* .landing {
    margin: 20px 30px 20px 30px;
    padding: 20px 30px 20px 30px;
    border-color:gray;
    font-size: 23px;
}
h1{
    text-align: center;
}

h5 {
    float: left;
    text-align: center;
    font-style: italic;
    font-weight: 300;
}

#faqs {
    margin: 20px 30px 20px 30px;
    padding: 20px 30px 20px 30px;
    border-color:gray;
    font-size: 23px;
} */